In [1]:
import pandas as %pd

In [2]:
# load data
df = pd.read_csv("PJME_hourly.csv")

In [4]:
df.describe()

             PJME_MW
count  145366.000000
mean    32080.222831
std      6464.012166
min     14544.000000
25%     27573.000000
50%     31421.000000
75%     35650.000000
max     62009.000000

In [8]:
df.columns

Index(['PJME_MW'], dtype='object')

In [5]:
df.head()

              Datetime  PJME_MW
0  2002-12-31 01:00:00  26498.0
1  2002-12-31 02:00:00  25147.0
2  2002-12-31 03:00:00  24574.0
3  2002-12-31 04:00:00  24393.0
4  2002-12-31 05:00:00  24860.0

In [6]:
# set date as index

df['Datetime']=pd.to_datetime(df['Datetime'])
df.set_index('Datetime',inplace=True)

In [7]:
df.head()

                     PJME_MW
Datetime
2002-12-31 01:00:00  26498.0
2002-12-31 02:00:00  25147.0
2002-12-31 03:00:00  24574.0
2002-12-31 04:00:00  24393.0
2002-12-31 05:00:00  24860.0